<nav class="navbar navbar-expand-lg navbar-dark mb-3 rounded" style="background-color: #cc2138;">
  <a class="navbar-brand" href="#">
    <img src="../assets/img/iconclash.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Clash-Royale
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsite">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsite">
    <ul class="navbar-nav">
      <li>
        <a class="nav-link" [routerLink]="['/clanpesq']" routerLinkActive="active" >Pesquisa <span class="sr-only">(current)</span></a>
      </li>
    </ul>
   </div>
</nav>
<div class="route-container" [@routeAnimation]="getDepth(myOutlet)" id="page">
  <router-outlet #myOutlet="outlet"></router-outlet>
</div>