<div class="container">
  <!-- Usando o pipe async para exibir os dados apenas quando o observable result$ estiver preenchido, entao os dados são atribuidos ao array local result-->
  <div class="row pt-md-3" *ngIf="result$ | async as result; else carregandoErro">

    <!-- Perconrrendo o array da variavel local result de clans para carregar dados -->
    <div class="col-md-4 mb-5 d-flex align-items-stretch" *ngFor="let clan of result">
      <div class="services text-center" [routerLink]="['..','clandetalhe',clan.tag]" [queryParams]="{flag: clan.location.name}">
        <div class="icon d-flex justify-content-center align-items-center">
          <img *ngIf="clan.type == 'close'" src="../../../assets/img/closetype.png" width="75" height="75"
            border-radius="50%">
          <img *ngIf="clan.type == 'open'" src="../../../assets/img/opentype.png" width="75" height="75"
            border-radius="50%">
          <img *ngIf="clan.type == 'inviteOnly'" src="../../../assets/img/invitetype.png" width="75" height="75"
            border-radius="50%">
        </div>
        <div class="text">
          <h4>{{ clan.name }}</h4>
          <hr>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Tipo:</b> {{clan.type}}</li>
            <li class="list-group-item"><b>Score:</b> {{clan.clanScore}}</li>
            <li class="list-group-item"><b>Local:</b> {{ clan.location.name }}</li>
            <li class="list-group-item"><b>Membros:</b> {{clan.members}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <ng-template #carregandoErro>
    <!-- Verifica o observable error, caso contrário carrega o template 'carregando'-->
    <div *ngIf=" error$ | async; else carregando">
      Erro ao carregar lista de Clans
    </div>
    <ng-template #carregando>
      <div class="d-flex bg-secundary justify-content-center align-itens-center mt-5">
        <div class="spinner-border text-danger" role="status" style="width:3rem; height:3rem">
          <!-- avisa ao leitor de tela que esta carregando--> <span class="sr-only">carregando</span>
        </div>
      </div>
    </ng-template>
  </ng-template>

</div>
